.image{
	background:url("https://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg");
	border:2px solid black;
	border-radius:5px;
	height:200px;
	width:170px;
	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
  	position:relative;
}
.name{
	clear:both;
	height:30px;
	background-color:black;
	border:1px solid black;
	opacity:0.5;
	position:absolute;
	bottom:0;
	width:170px;
}
 p{
 	text-align:center;
 	margin-top:5px;
 	color:#000000;
 	font-weight:bold;
 	float:bottom;
 	color:white;
 }